{% extends "layout.html" %}
{% block title %}Payroll magic{% endblock %}
{% block content %}
	<p class="lead">Let's try to show you taxes details for year {{ year }}.</p>
	{% if invoices|length > 0 %}
	<table>
		<thead>
			<tr>
				<th rowspan="2" width="10">#</th>
				<th rowspan="2">Summary</th>
				<th rowspan="2" width="200">Amount to declare</th>
				<th rowspan="2" width="100">Taxes</th>
				<th rowspan="2" width="100">Date</th>
				<th colspan="3" width="270">CBRF Currency conversion</th>
			</tr>
			<tr>
				<th width="70">Rate</th>
				<th width="100">Amount</th>
				<th width="100">Taxes</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>&nbsp;</td>
				<td>Total</td>
				<td class="amount"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="taxes"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="date">&nbsp;</td>
				<td class="rate"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="amount-cb"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="taxes-cb"><i class="fa fa-cog fa-spin fa-fw"></i></td>
			</tr>
		</tfoot>
		<tbody>
			{% for invoice in invoices %}
				<tr data-id="{{ invoice['TransactionId'] }}" class="transaction" id="transaction-{{ invoice['TransactionId'] }}">
					<td>{{ loop.index }}</td>
					<td><a href="/invoice/{{ invoice['TransactionId'] }}/view" title="Show details">{{ invoice['Summary'] }}</a></td>
					<td class="amount"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="taxes"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="date"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="rate"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="amount-cb"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="taxes-cb"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p class="lead">No invoices found :(</p>
	{% endif %}
{% endblock %}
{% block footer %}
{% if invoices|length > 0 %}
	<script>
		var transactions = [];
		var $totalAmount = $('tfoot td.amount');
		var $totalTaxes = $('tfoot td.taxes');
		var $totalAmountCb = $('tfoot td.amount-cb');
		var $totalTaxesCb = $('tfoot td.taxes-cb');
		var $avgCurrencyRate = $('tfoot td.rate');
		$('tr.transaction').each(function() {
			transactions.push($(this).data('id'));
		});
		function update() {
			if (transactions.length == 0) {
				return;
			}
			var tId = transactions[0];
			var hId = '#transaction-' + tId;
			transactions = transactions.slice(1);
			$(hId + ' i.fa-cog').removeClass('fa-cog').addClass('fa-refresh');
			$.get('/invoice/' + tId + '/json', function(data) {
				var lines = data.LineItems;
				var taxes = 0;
				var amount = 0;
				var deductions = 0;
				if (data.payments.length > 0 && data.payments[0]['CreatedDateUtc'].substring(0, 4) == "{{ year }}") {
					for (var lId in lines) {
						var l = lines[lId];
						if (l.Description.toLocaleLowerCase().indexOf('tax') != -1) {
							taxes += l.TotalAmount;
						}
						if (l.TotalAmount > 0) {
							amount += l.TotalAmount;
						} else {
							deductions -= l.TotalAmount;
						}
					}
				}
				if (taxes != 0) {
					$(hId + ' td.date').text(data.payments[0]['CreatedDateUtc'].substring(0, 10));
					$(hId + ' td.rate').text(data.payments[0]['cbRate'].toFixed());
					$(hId + ' td.amount').text(amount.toFixed(2));
					var c = $totalAmount.text() ? parseFloat($totalAmount.text()) : 0;
					$totalAmount.text((c + amount).toFixed(2));
					$(hId + ' td.taxes').text(taxes.toFixed(2));
					c = $totalTaxes.text() ? parseFloat($totalTaxes.text()) : 0;
					var totalTaxes = c + taxes;
					$totalTaxes.text(totalTaxes.toFixed(2));
					if (data.payments[0]['cbRate']) {
						rate = data.payments[0]['cbRate'];
						$(hId + ' td.rate').text(rate.toFixed(4));

						$(hId + ' td.amount-cb').text((amount * rate).toFixed(2));
						c = $totalAmountCb.text() ? parseFloat($totalAmountCb.text()) : 0;
						$totalAmountCb.text((c + amount * rate).toFixed(2));

						$(hId + ' td.taxes-cb').text((taxes * rate).toFixed(2));
						c = $totalTaxesCb.text() ? parseFloat($totalTaxesCb.text()) : 0;
						var totalTaxesCb = c + taxes * rate;
						$totalTaxesCb.text(totalTaxesCb.toFixed(2));
						$avgCurrencyRate.text((totalTaxesCb / totalTaxes).toFixed(4));
					} else {
						$(hId + ' td.rate i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
						$(hId + ' td.amount-cb i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
						$(hId + ' td.taxes-cb i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
					}
				} else {
					$(hId + ' i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
				}
				setTimeout(update, 100);
			});
		}
		window.onload = update;
	</script>
{% endif %}
{% endblock %}