{% extends "layout.html" %}
{% block title %}Payroll magic{% endblock %}
{% block content %}
	<p class="lead">Let's try to show you taxes details for year {{ year }}.</p>
	{% if invoices|length > 0 %}
	<div><label><input type="checkbox" id="format" checked="checked"/> Format numbers</label></div>
	<table>
		<thead>
			<tr>
				<th rowspan="2" width="10">#</th>
				<th rowspan="2">Summary</th>
				<th rowspan="2" width="170">Amount to declare</th>
				<th rowspan="2" width="80">Taxes</th>
				<th rowspan="2" width="100">Date</th>
				<th colspan="3" width="270">CBRF Currency conversion</th>
			</tr>
			<tr>
				<th width="70">Rate</th>
				<th width="100">Amount</th>
				<th width="100">Taxes</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>&nbsp;</td>
				<td>Total</td>
				<td class="amount" data-value="0"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="taxes" data-value="0"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="date">&nbsp;</td>
				<td class="rate" data-value="0"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="amount-cb" data-value="0"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="taxes-cb" data-value="0"><i class="fa fa-cog fa-spin fa-fw"></i></td>
			</tr>
		</tfoot>
		<tbody>
			{% for invoice in invoices %}
				<tr data-id="{{ invoice['TransactionId'] }}" class="transaction {{ loop.cycle('odd', 'even') }}" id="transaction-{{ invoice['TransactionId'] }}">
					<td class="rownum">{{ loop.index }}</td>
					<td><a href="/invoice/{{ invoice['TransactionId'] }}/view" title="Show details">{{ invoice['Summary'] }}</a></td>
					<td class="amount"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="taxes"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="date"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="rate"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="amount-cb"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="taxes-cb"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p class="lead">No invoices found :(</p>
	{% endif %}
{% endblock %}
{% block footer %}
{% if invoices|length > 0 %}
	<script>
		var transactions = [];
		var $totalAmount = $('tfoot td.amount');
		var $totalTaxes = $('tfoot td.taxes');
		var $totalAmountCb = $('tfoot td.amount-cb');
		var $totalTaxesCb = $('tfoot td.taxes-cb');
		var $avgCurrencyRate = $('tfoot td.rate');
		var $format = $('#format');
		var f = Intl.NumberFormat(['ru-RU', 'en-US', 'en-AU', 'th-TH'], {
			maximumFractionDigits: 2,
			minimumFractionDigits: 2
		});
		$('tr.transaction').each(function() {
			transactions.push($(this).data('id'));
		});
		function formatValue(val) {
			if ($format.is(':checked')) {
				return f.format(val)
			} else {
				return parseFloat(val).toFixed(2);
			}
		}
		function update() {
			if (transactions.length == 0) {
				return;
			}
			var tId = transactions[0];
			var hId = '#transaction-' + tId;
			transactions = transactions.slice(1);
			$(hId + ' i.fa-cog').removeClass('fa-cog').addClass('fa-refresh');
			$.get('/invoice/' + tId + '/json', function(data) {
				var lines = data.LineItems;
				var taxes = 0;
				var amount = 0;
				var deductions = 0;
				if (data.payments.length > 0 && data.payments[0]['TransactionDate'].substring(0, 4) == "{{ year }}") {
					for (var lId in lines) {
						var l = lines[lId];
						if (l.Description.toLocaleLowerCase().indexOf('tax') != -1) {
							taxes += l.TotalAmount;
						}
						if (l.TotalAmount > 0) {
							amount += l.TotalAmount;
						} else {
							deductions -= l.TotalAmount;
						}
					}
				}
				if (taxes != 0) {
					$(hId + ' td.date').text(data.payments[0]['TransactionDate'].substring(0, 10));
					$(hId + ' td.amount').data('value', amount.toFixed(4)).text(formatValue(amount));
					var c = parseFloat($totalAmount.data('value'));
					$totalAmount.data('value', (c + amount).toFixed(4)).text(formatValue(c + amount));
					$(hId + ' td.taxes').data('value', taxes.toFixed(4)).text(formatValue(taxes));
					if (Math.round(amount * 0.13) != Math.round(taxes)) {
						$(hId + ' td.taxes').addClass('suspicious').attr('title', 'Calculated taxes value differs from transferred, contact accounting team before filling TAX-form');
					}
					c = parseFloat($totalTaxes.data('value'));
					var totalTaxes = c + taxes;
					$totalTaxes.data('value', totalTaxes.toFixed(4)).text(formatValue(totalTaxes));
					if (data.payments[0]['cbRate']) {
						rate = data.payments[0]['cbRate'];
						$(hId + ' td.rate').text(rate.toFixed(4));

						$(hId + ' td.amount-cb').data('value', (amount * rate).toFixed(4)).text(formatValue(amount * rate));
						c = parseFloat($totalAmountCb.data('value'));
						$totalAmountCb.data('value', (c + amount * rate).toFixed(4)).text(formatValue(c + amount * rate));

						$(hId + ' td.taxes-cb').data('value', (taxes * rate).toFixed(4)).text(formatValue(taxes * rate));
						c = parseFloat($totalTaxesCb.data('value'));
						var totalTaxesCb = c + taxes * rate;
						$totalTaxesCb.data('value', totalTaxesCb.toFixed(4)).text(formatValue(totalTaxesCb));
						$avgCurrencyRate.data('value', (totalTaxesCb / totalTaxes).toFixed(4)).text(formatValue(totalTaxesCb / totalTaxes));
					} else {
						$(hId + ' td.rate i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
						$(hId + ' td.amount-cb i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
						$(hId + ' td.taxes-cb i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
					}
				} else {
					$(hId).remove();
					var rownum = 0;
					$('td.rownum').each(function() {
						var c = ++rownum % 2 == 0 ? 'even' : 'odd';
						var wclass = c == 'odd' ? 'even' : 'odd';
						$(this).text(rownum).parent('tr.transaction').removeClass(wclass).addClass(c);
					});
				}
				setTimeout(update, 100);
			});
		}
		function loaded() {
			update();
			$('#format').change(function() {
				$('tbody td, tfoot td').filter(function() {return $(this).data('value') != undefined})
					.each(function() {
						var $this = $(this);
						$this.text(formatValue($this.data('value')));
					});
			});
		}
		window.onload = loaded;
	</script>
{% endif %}
{% endblock %}