{% extends "layout.html" %}
{% block title %}Payroll magic{% endblock %}
{% block content %}
	<p class="lead">Let's try to show you taxes details for year {{ year }}.</p>
	{% if invoices|length > 0 %}
	<table>
		<thead>
			<tr>
				<th rowspan="2" width="10">#</th>
				<th rowspan="2">Summary</th>
				<th rowspan="2" width="200">Amount to declare</th>
				<th rowspan="2" width="100">Taxes</th>
				<th rowspan="2" width="100">Date</th>
				<th colspan="3" width="270">CBRF Currency conversion</th>
			</tr>
			<tr>
				<th width="70">Rate</th>
				<th width="100">Amount</th>
				<th width="100">Taxes</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>&nbsp;</td>
				<td>Total</td>
				<td class="amount" data-value="0"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="taxes" data-value="0"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="date">&nbsp;</td>
				<td class="rate" data-value="0"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="amount-cb" data-value="0"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				<td class="taxes-cb" data-value="0"><i class="fa fa-cog fa-spin fa-fw"></i></td>
			</tr>
		</tfoot>
		<tbody>
			{% for invoice in invoices %}
				<tr data-id="{{ invoice['TransactionId'] }}" class="transaction" id="transaction-{{ invoice['TransactionId'] }}">
					<td>{{ loop.index }}</td>
					<td><a href="/invoice/{{ invoice['TransactionId'] }}/view" title="Show details">{{ invoice['Summary'] }}</a></td>
					<td class="amount"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="taxes"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="date"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="rate"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="amount-cb"><i class="fa fa-cog fa-spin fa-fw"></i></td>
					<td class="taxes-cb"><i class="fa fa-cog fa-spin fa-fw"></i></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p class="lead">No invoices found :(</p>
	{% endif %}
{% endblock %}
{% block footer %}
{% if invoices|length > 0 %}
	<script>
		var transactions = [];
		var $totalAmount = $('tfoot td.amount');
		var $totalTaxes = $('tfoot td.taxes');
		var $totalAmountCb = $('tfoot td.amount-cb');
		var $totalTaxesCb = $('tfoot td.taxes-cb');
		var $avgCurrencyRate = $('tfoot td.rate');
		var f = Intl.NumberFormat(undefined, {
			maximumFractionDigits: 2,
			minimumFractionDigits: 2
		});
		$('tr.transaction').each(function() {
			transactions.push($(this).data('id'));
		});
		function update() {
			if (transactions.length == 0) {
				return;
			}
			var tId = transactions[0];
			var hId = '#transaction-' + tId;
			transactions = transactions.slice(1);
			$(hId + ' i.fa-cog').removeClass('fa-cog').addClass('fa-refresh');
			$.get('/invoice/' + tId + '/json', function(data) {
				var lines = data.LineItems;
				var taxes = 0;
				var amount = 0;
				var deductions = 0;
				if (data.payments.length > 0 && data.payments[0]['CreatedDateUtc'].substring(0, 4) == "{{ year }}") {
					for (var lId in lines) {
						var l = lines[lId];
						if (l.Description.toLocaleLowerCase().indexOf('tax') != -1) {
							taxes += l.TotalAmount;
						}
						if (l.TotalAmount > 0) {
							amount += l.TotalAmount;
						} else {
							deductions -= l.TotalAmount;
						}
					}
				}
				if (taxes != 0) {
					$(hId + ' td.date').text(data.payments[0]['CreatedDateUtc'].substring(0, 10));
					$(hId + ' td.rate').text(f.format(data.payments[0]['cbRate']));
					$(hId + ' td.amount').text(f.format(amount));
					var c = parseFloat($totalAmount.data('value'));
					$totalAmount.text(f.format(c + amount));
					$totalAmount.data('value', taxes.toFixed(2));
					$(hId + ' td.taxes').text(f.format(taxes));
					if (Math.round(amount * 0.13) != Math.round(taxes)) {
						$(hId + ' td.taxes').addClass('suspicious').attr('title', 'Calculated taxes value differs from transferred, contact accounting team before filling TAX-form');
					}
					c = parseFloat($totalTaxes.data('value'));
					var totalTaxes = c + taxes;
					$totalTaxes.data('value', totalTaxes.toFixed(2));
					$totalTaxes.text(f.format(totalTaxes));
					if (data.payments[0]['cbRate']) {
						rate = data.payments[0]['cbRate'];
						$(hId + ' td.rate').text(f.format(rate));

						$(hId + ' td.amount-cb').text(f.format(amount * rate));
						c = parseFloat($totalAmountCb.data('value'));
						$totalAmountCb.data('value', (c + amount * rate).toFixed(2));
						$totalAmountCb.text(f.format(c + amount * rate));

						$(hId + ' td.taxes-cb').text(f.format(taxes * rate));
						c = parseFloat($totalTaxesCb.data('value'));
						var totalTaxesCb = c + taxes * rate;
						$totalTaxesCb.data('value', totalTaxesCb.toFixed(2));
						$totalTaxesCb.text(f.format(totalTaxesCb));
						$avgCurrencyRate.text(f.format(totalTaxesCb / totalTaxes));
					} else {
						$(hId + ' td.rate i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
						$(hId + ' td.amount-cb i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
						$(hId + ' td.taxes-cb i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
					}
				} else {
					$(hId + ' i.fa-refresh').removeClass('fa-spin').removeClass('fa-refresh').addClass('fa-close');
				}
				setTimeout(update, 100);
			});
		}
		window.onload = update;
	</script>
{% endif %}
{% endblock %}